<?xml version="1.0" encoding="utf-8"?>
<!--
  Skabelon som dotnet publish bruger. Appen publiceres self-contained, saa IIS
  starter .\QuizApp.exe direkte. Vi slaar stdout-log til, saa opstartsfejl kan
  laeses i /public_html/quiz/logs/ via FTP.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\QuizApp.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
    </system.webServer>
  </location>
</configuration>
